---
import "../styles/global.css";
import SEO from "../components/SEO.astro";

interface Props {
  title: string;
  image?: string;
  description?: string;
}

const {
  title,
  image = "/images/profile.webp",
  description = "Mark Morcos is a Senior Software Engineer specializing in full-stack development, with expertise in React, TypeScript, and cloud technologies.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO {title} {image} {description} />
  </head>
  <body class="bg-white dark:bg-gray-900">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <slot />
    </div>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      })();

      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      localStorage.setItem("theme", theme);
    </script>
  </body>
</html>
